services:
  db:
    image: mysql:8.0
    container_name: klibras_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: KLibras
      MYSQL_USER: klibras
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: klibras_rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: klibras
      RABBITMQ_DEFAULT_PASS: root
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: klibras_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql+aiomysql://klibras:root@db:3306/KLibras
      RABBITMQ_URL: amqp://klibras:root@rabbitmq/
      ALLOWED_ORIGINS: "*"
      SECRET_KEY: your-secret-key-change-this
      ALGORITHM: HS256
      ACCESS_TOKEN_LIFETIME: 30
      LONG_REFRESH_TOKEN_LIFETIME: 10080
      SHORT_REFRESH_TOKEN_LIFETIME: 1440
      GOOGLE_CLIENT_ID: 179236694177-48ea7egbntsa83pr0mv8qd4l8va5c4jn.apps.googleusercontent.com

  worker:
    build: .
    container_name: klibras_worker
    restart: always
    working_dir: /app
    gpus: all
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql+aiomysql://klibras:root@db:3306/KLibras
      RABBITMQ_URL: amqp://klibras:root@rabbitmq/
      ALLOWED_ORIGINS: "*"
      SECRET_KEY: your-secret-key-change-this
      ALGORITHM: HS256
      ACCESS_TOKEN_LIFETIME: 30
      LONG_REFRESH_TOKEN_LIFETIME: 10080
      SHORT_REFRESH_TOKEN_LIFETIME: 1440
      GOOGLE_CLIENT_ID: 179236694177-48ea7egbntsa83pr0mv8qd4l8va5c4jn.apps.googleusercontent.com
    command: python -m app.core.worker

volumes:
  db_data:
